---
const base = import.meta.env.BASE_URL;
---

<section class="bg-white max-w-xs  rounded-2xl shadow-xl p-4 mx-auto mt-20">
	<figure class="relative cursor-pointer group rounded-lg overflow-hidden">
		<img 
		src={`${base}/images/image-qr-code.png`} 
		alt="Equilibrium" 
		class="rounded-lg">
		<figcaption class="mt-4">
			<h1 class="text-[#1A273A] font-bold text-xl text-center">
				Improve your front-end skills by building projects
			</h1>
			<p class="text-gray-400 text-sm text-center leading-relaxed mt-4 mb-4 ">
				Scan the QR code to visit Frontend Mentor and take your coding skills to the next level
			</p>
		</figcaption>
	</figure>
</section>	